*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}



.nav-bar{
    width: 100%;
    background: #61daff;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
nav{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    text-decoration: none;
   width: 25%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}
.nav-links ul li a:hover{
    background: #0c5a99;
    padding: 10px;
}
nav .fa-solid{
    display: none;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
}

.heading h1{
    font-size: 50px;
    color:#000;
    margin-bottom: 20px;
    position: relative;
}



.heading p{
    font-size:18px ;
    color:#666;
    margin-bottom: 35px;
}

.container{
    width: 100%;
    margin:50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    background: white;

}

.about-txt{
    font-size: 18px;
    line-height: 1.5;
    color: #666;

}

.about-txt h3{
    margin-top:20px;
    font-size: 25px;
}

.about image img{
    max-width: 50%;
    height: auto;
    display: block;
    transition: 0.5s ease;

}

.about-content{
    flex: 1;
    margin-bottom: 15px;
    color: #333;
    padding: 20px;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;

}



.contact-container{
    width: 90%;
    background: rgb(233, 233, 233);
    margin-left: 5%;
    padding: 20px;
 
}
.contact{
    display:flex ;
    justify-content: space-between;
}



.contact-container h1{
    text-align: center;
}