*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-bar{
    width: 100%;
    background: #61daff;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
nav{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    text-decoration: none;
   width: 25%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
}
.nav-links ul li a:hover{
    background: #0c5a99;
    padding: 10px;
}
nav .fa-solid{
    display: none;
}


.read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;

}

.read-more:hover{
    background-color: #3e8e41;


}

.home{
    background: rgb(27, 27, 148);
    width: 100%;
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home h2{
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
    color: #ffff;
}
.home p{
    font-size: 30px;
    color: #ffff;
    font-weight: 500;
    font-family: sans-serif;
    padding: 20px 0;
}
.home-btn{
    text-decoration: none;
    color: #000000;
    background: #eee;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px 30px;
    border-radius: 50px;
}
.home-btn:hover{
    background: red;
    transition: 1s;
    color: #ffff;
}

.homepage{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}



.contentContainer{
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

.imageContainer{
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contentContainer .content{
    padding-top: 40px;

}

.content H2{
    font-size: 70px;
}



.content p{
    line-height: 1.5;
}

.story{
    width: 100%;
    display: block;
    padding: 80px;
}
.story h3{
    color: #160557;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
    text-align: center;
}
.stories{
    width: 33%;
    background: #ffff;
    float: left;
    padding: 80px 10px;
}
.stories img{
    width: 100%;
    height: 300px;
}
.stories .desc{
    padding: 10px;
}
.stories .desc h4{
    font-size: 25px;
    font-family: sans-serif;
    color: #000000;
}
.stories .desc p{
    font-size: 20px;
}







.image-home img{
    width:100%;
    height: 20%;
}
p{
    margin-bottom: 20px;
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}



input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}


.course{
    width: 80%;
    margin: auto;
    padding-top:50px ;
}


.top-heading{
    text-align: center;
}

.course .top-heading h1{
    padding-top: 30px;
    font-size: 70px;
}



p{
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    display: flex;
    flex-direction: row;
}

.course-dip{
    display: flex;
    background: #ffe4dc;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
}

.course-bach{
    display: flex;
    background: #e7e7e7;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
}


.course-cert{
    display: flex;
    background: #ffdff2;
    margin-bottom: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
}


.course-col img{
    width: 30%;
}

.text-col{
    display: bloc;
}

h3{
    color: rgb(7, 3, 68);
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}

.footer{

    width: 98%;
    margin: auto;
    padding:50px ;
    background: rgb(245, 245, 245);

}

.foot-content{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 5px;
   
}

.foot-content button{
    padding:20px;
    background: #240152;
    color: white;
  
}

.findout{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3a0168;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    margin-top: 15px;
    transition: 0.3s ease;

}

.findout:hover{
    background-color: #460564;


}


